# Go
/cli/bin/
*.test
*.out
vendor/

# Node
node_modules/
.next/
out/
dist/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp

# Local DBs
*.sqlite
*.db

# Logs
*.log
